In [15]:
import azureml
print(azureml.core.VERSION)
from azureml.core.dataset import Dataset

import pandas as pd

1.49.0

In [25]:
from azureml.core import Workspace
##ws = Workspace.from_config(path="./file-path/ws_config.json")
ws = Workspace.from_config(path="ws_config.json")
'''for x in ws.datastores:
    print(x)
print('azure workspace')'''

workspaceblobstore
workspaceworkingdirectory
workspacefilestore
workspaceartifactstore
azure workspace

In [53]:
datastore_name = 'workspaceblobstore'
datastore_paths = [(ws.datastores[datastore_name], 'UI/2023-03-28_123210_UTC/train.csv')]

# Use the from_delimited_files method to create a Tabular Dataset
tab_ds = Dataset.Tabular.from_delimited_files(path=datastore_paths)
df = tab_ds.to_pandas_dataframe()

In [52]:

print(df)

              id       date  store_nbr                      family     sales  \
0              0 2013-01-01          1                  AUTOMOTIVE     0.000
1              1 2013-01-01          1                   BABY CARE     0.000
2              2 2013-01-01          1                      BEAUTY     0.000
3              3 2013-01-01          1                   BEVERAGES     0.000
4              4 2013-01-01          1                       BOOKS     0.000
...          ...        ...        ...                         ...       ...
3000883  3000883 2017-08-15          9                     POULTRY   438.133
3000884  3000884 2017-08-15          9              PREPARED FOODS   154.553
3000885  3000885 2017-08-15          9                     PRODUCE  2419.729
3000886  3000886 2017-08-15          9  SCHOOL AND OFFICE SUPPLIES   121.000
3000887  3000887 2017-08-15          9                     SEAFOOD    16.000

         onpromotion
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
3000883            0
3000884            1
3000885          148
3000886            8
3000887            0

[3000888 rows x 6 columns]

In [57]:
from azureml.core import Run

run = Run.get_context()

what